<div id = "page-title">
    friends!!
</div>
<div id = "page-content">
    {{#each badges}}
    <class = "badge">
        <a href="{{link}}" class="pixelated">
            <img src="./badges/{{path}}" alt="{{alt}}">
        </a>
    </class>
    {{/each}}
    <div id = "umass-webring">
        <div>
            <a href="{{webring.prev.url}}">{{webring.prev.name}}</a>
        </div>
        <div>
            &lt;&dash;
            <a href="https://github.com/umacabal/umaring">UMass Webring</a>
            &dash;&gt;
        </div>
        <div>
            <a href="{{webring.next.url}}">{{webring.next.name}}</a>
        </div>
    </div>
</div>