<div id = "page-title">
    <a href="{{page.link}}">{{page.title}}</a>
    <div id = "page-subtitle">
        <a href="{{page.link}}">project link</a>
        <br>
        <div id = "date">{{page.date}}</div>
    </div>
</div>
<div id = "page-content">
    {{{mdToHTML page.body}}}
</div>
