{{#if isFile}}
  <div class="sidebar-item">
    {{#if redirectTo}}
      <a href="{{redirectTo}}" target="_blank">{{name}}</a>
    {{else}}
      <a href="/{{path}}">{{name}}</a>
    {{/if}}
  </div>
{{else}}
  <div class="sidebar-folder collapsed">
    <div class="sidebar-folder-name" onclick="this.parentElement.classList.toggle('collapsed')">
      <span>{{name}}</span>
      <span class="folder-toggle">▼</span>
    </div>
    <div class="sidebar-folder-items">
      {{#each children}}
        {{>sidebar-item}}
      {{/each}}
    </div>
  </div>
{{/if}}
